@charset "UTF-8"

@import compass
@import normalize
@import susy
@import scut


/* 
 *Variables
 * ---------------------------------------------------------------------------
 */
// color variables
$white: white
$black: black
$blue: #2275bb
$orange: #f89406
$turquoise: #3d9999
$gray: #a6a6a6

// font variables
$title: "Open Sans Condensed", sans-serif

$breakpoint1: 768px
$color: rgb(24, 39, 43);
$main-color: rgba($color, 1);
$highlight-color: rgba($color, 0.9);
$border-color: rgba($color, 0.08);
$border-color-dark: rgba($color, 0.6);
$red: #E74C3C;
$highlightfont: "Fenix"

// Imports
@import compass/typography/text/replacement
@import mixins
@import header
@import footer
@import common
@import trend

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700)

@import url(http://fonts.googleapis.com/css?family=Fenix:400)

// $main-color: rgba(81,17,4, 1);
// $highlight-color: rgba(81,17,4, 0.8);
// $border-color: rgba(81,17,4, 0.08);
// $border-color-dark: rgba(81,17,4, 0.6);
