@charset "UTF-8"
@import compass
@import normalize
@import susy
@import scut

// color variables
$white:			#fff
$black:			#000
$red:			#cc3300
$blue:			#2275bb
$orange:		#f89406
$turquoise:		#3d9999
$gray:			#a6a6a6

// font variables
$title:			'Open Sans Condensed', sans-serif

// Mixins
=button
	@include border-radius(4px)
	@include background-clip(padding-box)
	background-color: #fff
	@include background-image(linear-gradient(bottom, #a52713 0%, #cf3119 100%))
	border: 0
	color: $white
	font: 
		family: $title
		weight: 600

// Imports
@import "compass/typography/text/replacement"
@import header
@import footer
