@charset "UTF-8"

@import compass
@import normalize
@import susy
@import scut

// color variables
$white: white
$black: black
$red: #cc3300
$blue: #2275bb
$orange: #f89406
$turquoise: #3d9999
$gray: #a6a6a6

// font variables
$title: "Open Sans Condensed", sans-serif

// Mixins
=button
  +border-radius(4px)
  +background-clip(padding-box)
  background-color: white
  +background-image(linear-gradient(bottom, #a52713 0%, #cf3119 100%))
  border: 0
  color: $white
  font:
    family: $title
    weight: 600

// Imports
@import compass/typography/text/replacement
@import header
@import footer

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)

@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,700)

@import url(http://fonts.googleapis.com/css?family=Fenix:300,400,700)

/* 
 *Variables
 *---------------------------------------------------------------------------

$main-color: #30373b
$highlight-color: #66d4ed
$breakpoint1: 768px

/* 
 *Mixins
 *---------------------------------------------------------------------------

=hed-text
  font-family: "Fenix"
  text-align: center
  float: left
  width: 100%

=kicker-text
  font-family: "Lato"
  font-weight: 600
  text-align: center
  float: left
  width: 100%
  font-size: 13px

=body-text
  font-family: "Merriweather", "Georgia", "Serif" !important
  font-size: 14px !important
  line-height: 23px !important
  margin-bottom: 20px
  font-weight: 400

=sidebar-hed
  float: left
  width: 100%
  font-family: "Fenix"
  font-weight: 100
  color: $highlight-color
  font-weight: 400
  margin-bottom: 4px
  margin-top: 10px
  text-align: center
  font-size: 19px
  list-style-type: none
  padding: 30px 14px 30px 0px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.nav-left li.site-name a
  font-family: "Fenix" !important
  font-weight: bold
  font-size: 16px
  margin-top: 3px

body #page
  font-family: "Lato", "Arial"
  max-width: 1300px
  margin: 0 auto
  width: 100%
  overflow-x: hidden !important
  -webkit-transition: all 100ms linear
  -moz-transition: all 100ms linear
  -o-transition: all 100ms linear
  -ms-transition: all 100ms linear
  transition: all 100ms linear
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.archive .entry-content.with-hero, .home .entry-content.with-hero
  background: none !important

.homepage-topstory
  border-bottom: 1px solid #ccc

h1.entry-title, h2.entry-title a
  +hed-text
  color: $main-color
  margin-bottom: 20px
  margin-top: 2px

span.post-category-link a
  +kicker-text
  color: $highlight-color

.homepage-big img
  float: left
  width: 100%

.homepage-big .entry-content.with-hero
  margin: -22px 10px 0
  width: 100% !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  @media screen and (max-width: $breakpoint1)
    width: 100%
    margin-top: 10px

.homepage-medium header .hero
  float: right
  width: 40%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  @media screen and (max-width: $breakpoint1)
    width: 100%

.homepage-medium .with-hero
  float: left
  width: 55% !important
  margin: -22px 1% 0 0 !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  @media screen and (max-width: $breakpoint1)
    width: 100% !important
    margin-top: 10px !important

.homepage-small header .hero
  float: right
  width: 20%
  display: none
  @media screen and (max-width: $breakpoint1)
    width: 100%

.single-post .hero img
  float: left
  width: 100%

.hero img
  @media screen and (max-width: $breakpoint1)
    width: 100%
    max-width: 450px

.single-post .hero
  padding: 0
  margin: 0

.homepage-small .with-hero
  float: left
  width: 100% !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.entry-content p
  +body-text
  font-size: 16px
  margin-bottom: 12px

h5.top-tag
  margin-top: 25px
  @media screen and (max-width: $breakpoint1)
    padding-top: 25px

.home .entry-content.with-hero
  margin: -22px 10px 0
  width: 72%
  @media screen and (max-width: $breakpoint1)
    width: 100%
    margin: -22px 0px

h5.byline span.by-author
  +kicker-text
  color: $main-color

.homepage-medium h5.top-tag, .homepage-small h5.top-tag
  margin-top: 0 !important

.sep
  display: none !important

.entry-date, .entry-date.updated
  float: left
  width: 100%
  text-align: center
  font-family: Lato, Arial, sans-serif
  color: #aaa
  margin-bottom: 20px
  margin-top: 5px

#content-main
  float: right
  width: 75% !important
  padding: 0 0px 0 20px
  margin-bottom: 85px
  color: black
  margin-top: 0px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  @media screen and (max-width: $breakpoint1)
    width: 100% !important
    padding: 10px

#rail, #sidebar
  position: relative
  float: left
  width: 24%
  margin-left: 0 !important
  height: 100%
  min-height: 90px
  padding-top: 0px
  position: static
  background: #30373B
  padding-bottom: 100px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 100ms linear
  -moz-transition: all 100ms linear
  -o-transition: all 100ms linear
  -ms-transition: all 100ms linear
  transition: all 100ms linear
  @media screen and (max-width: $breakpoint1)
    width: 100%

#sidebar
  float: left
  width: 31%

.author #content, .single-post #content, .page #content
  float: right

.widget + .widget
  border-top: #fff 10px solid
  padding: 35px 0

.widget ul
  list-style-type: none

.widget-links a, .largo-recent-posts a, .menu-contributors-container a
  +sidebar-hed

.widget-links a:after, .largo-recent-posts a:after, .menu-contributors-container a:after
  width: 50%
  float: left
  margin: 10px 25%
  border-bottom: 1px solid #fff

h3.widgettitle
  +kicker-text
  color: white !important
  font-size: 13px !important

.navbar-inner
  background: none
  position: relative
  height: 37px
  border-top: 1px solid $main-color
  border-bottom: 4px double $main-color

.navbar.open .nav-shelf:after
  background-image: none !important

.navbar .nav
  width: auto
  left: 50%
  top: 0
  margin-left: -175px
  position: absolute
  display: block
  text-align: center
  @media screen and (max-width: $breakpoint1)
    background: $main-color

.navbar li
  width: auto
  padding: 4px 15px
  margin-top: -3px

.navbar li a
  display: block
  float: left
  margin-bottom: 0
  padding: 8px 0 5px
  +kicker-text
  font-size: 14px
  background: none !important
  color: black !important

.tagline
  font-size: 18px !important
  float: left
  width: 100%
  text-align: center
  margin-bottom: 20px
  position: absolute
  left: 0
  bottom: 15px
  font-family: "Fenix", "Times", "Serif"

h1.branding a
  width: 100%
  float: left
  position: relative
  height: 170px
  margin-top: 0
  @media screen and (max-width: $breakpoint1)
    height: 137px

.branding > a > span[itemprop~="name"]
  width: 450px
  position: absolute
  left: 50%
  margin-left: -225px
  height: 111px
  background-size: cover
  @media screen and (max-width: $breakpoint1)
    width: 320px
    height: 79px
    margin-left: -160px

.global-nav-bg
  background-color: #30373B

#text-2 h3.widgettitle
  font-size: 0px !important
  color: rgba(0, 0, 0, 0) !important

#text-2 .widgettitle::before
  content: url(http://projects.ctmirror.org/vertical-assets/trend-icon-white.png)
  display: block
  margin: 0 auto
  opacity: 1
  height: 150px
  transform: scale(0.3)

.nav-right #header-social .icon-rss, .nav-right #header-social .icon-twitter, .nav-right #header-social .icon-facebook
  background-color: rgba(0, 0, 0, 0) !important

#header-search input
  height: 18px
  padding: 6px 4px 2px
  border-radius: 0px
  border: 1px solid #aaa
  font-family: "Lato"

.btn
  border: 1px solid #aaa !important
  border-color: #aaa !important
  font-weight: bold !important
  text-shadow: none !important
  font-family: "Lato"
  background-color: #fff
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.btn.btn-navbar
  border: 0px solid #aaa !important

.sticky-nav-holder
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 99998
  visibility: hidden
  opacity: 0
  background-color: #ffffff
  -webkit-box-shadow: none !important
  -moz-box-shadow: none !important
  box-shadow: none !important

.sticky-nav-holder.show
  background: #30373b
  background: -moz-linear-gradient(top, #30373b 0%, #18171c 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #30373b), color-stop(100%, #18171c))
  background: -webkit-linear-gradient(top, #30373b 0%, #18171c 100%)
  background: -o-linear-gradient(top, #30373b 0%, #18171c 100%)
  background: -ms-linear-gradient(top, #30373b 0%, #18171c 100%)
  background: linear-gradient(to bottom, #30373b 0%, #18171c 100%)

.sticky-nav-holder.show .nav li a, .icon-search, .sticky-nav-holder.show .icon-rss, .sticky-nav-holder.show .icon-facebook, .sticky-nav-holder.show .icon-twitter
  color: white !important
  font-weight: 400

.nav li
  @media screen and (max-width: $breakpoint1)
    width: 100%
    padding: 0

.nav li a
  @media screen and (max-width: $breakpoint1)
    padding: 14px 0 !important
    margin: 0 !important
    border-top: 1px solid #555

.sticky-nav-holder.show .nav
  left: 0
  margin-left: 0
  width: auto
  @media screen and (max-width: $breakpoint1)
    width: 100%
    padding: 0

.nav-left li.site-name a
  color: white !important

.btn.btn-navbar
  background: none !important

.home #site-header
  display: block !important

.pager .load-more a
  text-transform: uppercase
  text-align: center
  background: #ececec
  color: $main-color
  border-radius: 1px
  font-family: "Lato"
  width: 180px
  margin-top: 25px
  border: 1px solid #ccc

.pager .load-more a:hover
  background: #ddd
  text-decoration: underline

.footer-bg
  background-color: #fff
  border-top: 4px double $main-color
  color: $main-color
  +hed-text
  text-align: left

#supplementary ul.menu li
  border-bottom: none

.menu-item a
  color: $main-color
  font-family: "Fenix"
  font-weight: bold
  font-size: 18px
  border: none

#site-footer .widgettitle, #site-footer li.menu-label
  border-bottom: none
  text-align: left

.post-lead h5 a
  color: $main-color
  font-weight: bold

.post-lead img
  border: 1px solid #ccc
  padding: 0

.post-lead a
  padding: 0 0 10px 0 !important

#boilerplate .footer-credit, #boilerplate .copyright
  color: $main-color !important
  font-family: "Fenix" !important
  font-weight: 400 !important
  font-size: 16px

#boilerplate
  border-top: none !important

#menu-contributors a
  color: $highlight-color

.stories article
  border-bottom: 1px solid #ccc
  padding: 34px 0
  margin: 0

.stories article:first-child
  padding-top: 0

/* AUTHOR PAGE

.largo-author h1
  +hed-text
  text-align: left
  font-size: 37px
  float: left
  width: 100%
  margin-bottom: 15px

.single-post #site-header, .author #site-header, .page #site-header, #site-header
  height: 188px
  width: 100%
  margin-top: 50px
  left: 0
  position: relative
  @media screen and (max-width: $breakpoint1)
    height: 148px

.photo img
  border: none !important

.author-box
  padding-bottom: 14px
  border-bottom: 2px solid $main-color
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.article-bottom .author-box
  border: none !important
  padding: 20px !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  background: #eeeeee
  border-bottom: 20px solid #fff !important
  float: left
  width: 100%

.article-bottom img
  display: none !important

.article-bottom .author-box .widgettitle
  // color: rgba(0, 0, 0, 0) !important;
  font-size: 26px !important
  color: $main-color !important
  font-family: "Fenix", Arial, sans-serif !important
  text-transform: none !important
  letter-spacing: 0.1px
  font-weight: 100

.article-bottom .author-box .widgettitle .fn a

.article-bottom .author-box p
  font-family: "Lato", Arial, sans-serif !important
  font-size: 16px !important
  color: #444
  font-weight: 100

.commentHeader
  font-size: 45px
  margin-top: 50px
  font-family: "Lato"
  font-weight: 300

li.author-posts-link
  background: none !important

.author-box ul li.author-posts-link a
  color: $main-color !important
  font-weight: bold
  font-size: 13px

i.icon-mail
  background: none !important
  color: $main-color !important
  font-size: 12px

.author-box p
  +body-text

.navbar .btn-navbar
  margin: 8px 0
  padding: 8px 10px

article:last-child
  border-bottom: none !important

.post-social
  border: none !important

.byline-block
  float: right
  width: 300px
  padding: 15px 0 10px 26px
  margin-left: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  @media screen and (max-width: 500px)
    width: 100%
    padding: 20px
    border-bottom: 1px solid #ccc
    border-left: 0px solid #ccc
    margin-bottom: 30px

.byline-block .author
  float: left
  width: 100%
  margin-bottom: 10px
  padding-bottom: 10px

figure.photo
  float: left
  width: 70px
  margin: 0 10px 0 0 !important

.single-post h1.byline
  font-size: 19px
  font-family: "Fenix", Times, sans-serif
  margin-bottom: 5px !important

h2.byline-org, h3.byline-title
  font-size: 13px
  font-family: "Lato"
  font-weight: 300

.single-post .entry-content p
  max-width: 600px
  width: 100%
  margin-bottom: 25px
  @media screen and (max-width: 1250px)
    max-width: 100%

.single-post p iframe, .after-hero iframe
  float: left
  width: 100%
  min-width: 804px
  margin: 20px 0 20px
  border-bottom: 1px solid #ccc
  border-top: 1px solid #ccc
  @media screen and (max-width: 1250px)
    min-width: 100%

.after-hero iframe
  border-top: 0px solid #000

/*
 *blockquote

blockquote, .single-post p img
  float: right
  margin-right: -50px
  width: 400px
  padding: 20px
  border-left: 1px solid #ccc
  background: none !important
  margin-left: 20px
  font-size: 22px
  font-weight: 100
  font-family: Lato, Arial, sans-serif
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  @media screen and (max-width: 1450px)
    margin-right: 0px
  @media screen and (max-width: 1050px)
    width: 260px
  @media screen and (max-width: 600px)
    width: 100%
    border-left: 0px solid #000
    border-bottom: 1px solid #ccc
    border-top: 1px solid #ccc
    margin: 20px 0
    padding: 20px 0

.single-post p img
  margin-right: -280px
  @media screen and (max-width: 1450px)
    margin-right: 0px
  @media screen and (max-width: 1050px)
    width: 260px
  @media screen and (max-width: 600px)
    width: 100%
    border-left: 0px solid #000
    border-bottom: 1px solid #ccc
    border-top: 1px solid #ccc
    margin: 20px 0
    padding: 20px 0

.pullquoteFrom
  font-weight: bold
  font-size: 16px
  margin-top: 20px
  font-weight: 400

.pullquoteTitle
  font-size: 13px

/*
 *Captions

p.wp-media-credit
  font-size: 14px !important
  font-weight: 300
  font-family: Lato, Arial, sans-serif

p.wp-caption-text
  float: left
  width: 100%
  font-weight: 400
  font-size: 16px
  padding-bottom: 3px
  margin-bottom: 30px
  color: $main-color
  border-bottom: 1px solid #ccc
  font-style: normal !important
